---
import type { GetStaticPaths } from 'astro';
import { getCollection, getEntry } from 'astro:content';

import MasterLayout from '../../layouts/master.astro';
import UnorderedList from '../../components/UnorderedList.astro';
import Link from '../../components/Link.astro';

export const getStaticPaths = (async () => {
	const articles = await getCollection('news');
	return articles.map((article) => {
		return { params: { slug: article.slug } };
	});
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
if (!slug) throw new Error('Missing slug');

const article = await getEntry<'news', string>('news', slug);
if (!article) throw new Error('Missing article');

const { Content } = await article.render();
---

<MasterLayout title={`ELEPHANT | ${article.data.title}`} description={article.data.description || ''}>
	<img src={article.data.image} alt={article.data.title} class="w-full aspect-video object-cover mb-8" />
	<time datetime={article.data.publishDate.toISOString()} class="text-xs uppercase tracking-widest text-zinc-400 font-light block mb-4">
		{article.data.publishDate.toLocaleDateString('en-GB', { day: '2-digit', month: 'long', year: 'numeric' })}
	</time>
	<h1 class="text-4xl font-montserrat font-bold mb-6">{article.data.title}</h1>
	<article class="prose-lg lg:prose-xl my-4">
		<Content components={{ ul: UnorderedList, a: Link }} />
	</article>
</MasterLayout>
