---
interface Props {
	slug: string;
	film: {
		title: string;
		year: number;
		poster: string;
		genre: string[];
		runtime: string;
		aspectRatio: string;
		color: 'color' | 'black and white';
		soundFormat: string;
	};
}

const { film, slug } = Astro.props;
---

<article class="pb-6">
	<a href={`/${slug}`} class="flex gap-4">
		<img src={film.poster} alt={film.title} class="w-64 object-cover" />
		<div class="flex-grow">
			<h1 class="text-2xl font-montserrat font-bold mt-2 mb-4">{film.title}</h1>
			<div class="text-md my-1">{film.genre.join(' · ')}</div>
			<div class="text-md my-1">
				{film.year} · {film.runtime} · {film.aspectRatio} · {film.color} · {film.soundFormat}
			</div>
		</div>
	</a>
</article>
