---
interface Props {
	title: string;
	slug: string;
	publishDate: Date;
	image: {
		src: string;
		alt: string;
	};
	description?: string;
}

const { title, slug, publishDate, image, description } = Astro.props;
---

<article class="pb-4">
	<a href={`/news/${slug}`} class="grid grid-cols-1 gap-2 p-2 hover:bg-zinc-900">
		<img src={image.src} alt={image.alt} class="w-full object-contain mx-auto order-1" />
		<div class="flex-grow order-2">
			<h1 class="text-2xl font-bold mt-1 mb-2">{title}</h1>
			<time datetime={publishDate.toISOString()} class="text-lg font-light">
				{publishDate.toLocaleDateString('sl-SI')}
			</time>
		</div>
	</a>
</article>
