---
interface Props {
	title: string;
	slug: string;
	publishDate: Date;
	image: {
		src: string;
		alt: string;
	};
	description: string;
}

const { title, slug, publishDate, image, description } = Astro.props;
---

<article class="pb-6">
	<a href={`/news/${slug}`} class="flex gap-4">
		<img src={image.src} alt={image.alt} class="h-48 w-72 object-cover" />
		<div class="flex-grow">
			<h1 class="text-xl font-montserrat font-bold">{title}</h1>
			<time datetime={publishDate.toISOString()} class="text-sm font-montserrat">
				{publishDate.toLocaleDateString()}
			</time>
			<p class="mt-2">{description}</p>
		</div>
	</a>
</article>
